.repo-card{
  width: 48%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-card .card-header{
  background-color: #f50057;
  padding: 15px 10px;
}

.repo-card .card-header h5{
  color: #fff;
  font-size: 1rem;
}

.repo-card .card-content{
  padding: 15px 10px;
  
}